/* 
    Document   : main
    Created on : Nov 21, 2013, 7:52:07 PM
    Author     : Jason
    Description:
        Purpose of the stylesheet follows.
*/

.header {
    font-size: 18pt;
}

.footer {
    font-size: 8pt;
}

#loginbox {
    text-align: right;
}

#searchbar{
    display: block;
    text-align: right;
    margin-bottom: 10px;
}

.productGrid {
    text-align: center;
    height: 100%;
}

#wrapper {
    min-height: 250px;
    overflow: hidden;
}

#cartTotal {
    float: right;
    font-weight: bold;
}

#cartMessage {
    padding-top: 80px;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}

.datatable {
    padding: 5px;
    width: 100%;
}

table.datatable {
   border-collapse: collapse;
}

tr {
   border-bottom: 1px dotted #000;
}

/* This will remove the border of the last row */
tr:last-child {
   border-bottom: none;
}

.categorytable {
    padding: 5px;
    width: 100%;
}

.navHeader {
    font-weight: bold;
}

.username {
    margin-right: 5px;
    width: 100px;
}

.password {
    margin-right: 5px;
    width: 100px;
}

.message {
    color: red;
}

#thanks {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    width: 100%;
}

#adminProductBox {
    float: left;
}

#adminCategoryBox {
    float: right;
}

