/* 
    Document   : main
    Created on : Nov 21, 2013, 7:52:07 PM
    Author     : Jason
    Description:
        Purpose of the stylesheet follows.
*/

#loginbox {
    text-align: right;
}

#searchbar{
    display: block;
    text-align: right;
    margin-bottom: 10px;
}

.productgrid {
    text-align: center;
}

.datatable {
    padding: 5px;
    width: 100%;
}

table.datatable {
   border-collapse: collapse;
}

tr {
   border-bottom: 1px dotted #000;
}

/* This will remove the border of the last row
tr:last-child {
   border-bottom: none;
}
*/

.categorytable {
    padding: 5px;
    width: 100%;
}

